@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --accent-color: 173, 38, 74;
  --card-bg: 18, 18, 18;
  --card-hover: 28, 28, 28;
  --button-bg: 173, 38, 74;
  --button-hover: 193, 58, 94;
  --search-bg: 18, 18, 18;
  --border-color: 34, 34, 34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 18 18 18;
    --card-foreground: 255 255 255;
    --popover: 18 18 18;
    --popover-foreground: 255 255 255;
    --primary: 173 38 74;
    --primary-foreground: 255 255 255;
    --secondary: 28 28 28;
    --secondary-foreground: 255 255 255;
    --muted: 28 28 28;
    --muted-foreground: 160 160 170;
    --accent: 173 38 74;
    --accent-foreground: 255 255 255;
    --destructive: 212 42 42;
    --destructive-foreground: 255 255 255;
    --border: 34 34 34;
    --input: 28 28 28;
    --ring: 173 38 74;
    --chart-1: 173 38 74;
    --chart-2: 173 58 39;
    --chart-3: 197 37 24;
    --chart-4: 43 74 66;
    --chart-5: 27 87 67;
    --radius: 0.5rem;
    --sidebar-background: 18 18 18;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .sleek-card {
    @apply bg-[rgb(var(--card-bg))] rounded-lg overflow-hidden transition-all duration-300 hover:bg-[rgb(var(--card-hover))] hover:shadow-lg border border-[#222222];
  }

  .sleek-button {
    @apply bg-[rgb(var(--button-bg))] hover:bg-[rgb(var(--button-hover))] text-white rounded-full py-2 px-6 transition-all duration-300;
  }

  .sleek-input {
    @apply bg-[rgb(var(--search-bg))] border border-[#222222] rounded-full py-2 px-4 text-white w-full focus:outline-none focus:ring-2 focus:ring-[rgb(var(--accent-color))] transition-all duration-300;
  }
}

/* Add this to the end of the file to hide scrollbars */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
